@font-face { font-family: 'Jamjuree-r'; src: url("../fonts/BaiJamjuree-Regular.ttf"); }
@font-face { font-family: 'Jamjuree-b'; src: url("../fonts/BaiJamjuree-Bold.ttf"); }
@font-face { font-family: 'Jamjuree-sb'; src: url("../fonts/BaiJamjuree-SemiBold.ttf"); }
@font-face { font-family: 'Jamjuree-md'; src: url("../fonts/BaiJamjuree-Medium.ttf"); }

:root {
  --primary-color: #006937;
  --text-main: #111111;
  --text-muted: #72737A;
  --danger-color: #DA0000;
  --border-color: #E0E0E0;
  --white: #ffffff;
  --bg-light: #F8F9FA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jamjuree-r', sans-serif;
  color: var(--text-main);
  background-color: var(--white);
}


@media (min-width: 1700px) {
  .container {
    max-width: 1700px !important;
    padding-left: 12px;  
    padding-right: 12px;
  }
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; padding: 0; margin: 0; }