

.ui-slider-horizontal {
    height: .6em;
}
.ui-slider-horizontal {
    margin: 15px auto;
    width:100%;
}
.ui-widget-header {
    background: #006937;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    background-color: #fff;
    border: 1px solid #006937;
}

.slider-value {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price-range-search {
    width:40.5%; 
    background-color: #f9f9f9; 
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    margin-bottom:20px;
    font-size: 16px;
}

.price-range-currency {
    font-family: Jamjuree-md;
    font-size: 24px;
    color: #111;
    line-height: 34px;
}

.price-range-field{
    width:40%; 
    min-width: 16%;
    background-color:#fff; 
    border: 1px solid #111; 
    color: black; 
    font-family: myFont; 
    font: normal 14px Arial, Helvetica, sans-serif; 
    border-radius: 5px; 
    padding: 8px 10px;
    outline: none;
}
.search-results-block{
    position: relative;
    display: block;
    clear: both;
}

